{% extends "base.html" %}

{% block content %}
<div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2>The Project</h2>
            <p>Welcome to the London Crime Predictor. This project was created as part of my final year project for our Data science
            module on our Software Development BSc Honors course. </p>

            <p>We were assigned a task to create a Data Science related project using a large dataset (> 30,000 rows). I decided to 
            analyse crime reports in greater London Metropolitan area and try to make predictions based on that analysis. </p>
        </div>
        <div class="jumbotron">
                <h2>The Dataset</h2>
                <p>This dataset provides a complete snapshot of crime, outcome, and stop and search data, as held by the Home Office 
                    from late 2014 through mid 2017 for London, both the greater metro and the city.. </p>
    
                <p>Data Source:<a href ="https://www.kaggle.com/sohier/london-police-records">https://www.kaggle.com/sohier/london-police-records</a> </p>
            </div>

 </div> <!-- /container -->

{% endblock %}